NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Postgres DB credentials
DATABASE_URL='postgresql://'

# Auth Secret needed for Credential based Login (email and password)
AUTH_SECRET=

# Authentik's OIDC config
AUTHENTIK_ISSUER=https://authentik.instance/application/o/thlush/
AUTHENTIK_CLIENT_ID=
AUTHENTIK_CLIENT_SECRET=
